.body {
    background-color: #567859;
}

.container-md {
    background-color: #567859;
}

.procol {
    text-align: center;
}

.picture {
    margin: 20px;
    height: 175px;
    border-radius: 50%;
}

.info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px 0;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px black;
}

.accordion-header {
    background-color: #BDA1C4;
    border: 5px solid #725C78;
}

.accordion-body {
    background-color: white;
}

.footer {
    text-align: right;
}

i {
    font-size: 30px;
    color: black;
    margin: 5px 2px;
}

.green-title {
    color: #567859;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.purple-text {
    color: #725C78;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.nav-item {
    background-color: #BDA1C4;
    border: 5px solid #725C78;
    width: 150px;
}

.nav-link {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.nav-tabs {
    width: 900px;
    margin-top: 20px;
}

.tab-pane {
    background-color: white;
    border: 5px solid #725C78;
}

.tab-content {
    width: 900px;
}

.folioimg {
    height: 50px;
    margin-top: 3px;
}